@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/gallery.css);
@import url(../blocks/footer.css);
@import url(../blocks/popup.css);

@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 400;
  src: url("/vendor/fonts/InterDisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 500;
  src: url("/vendor/fonts/InterDisplay-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "InterDisplay";
  font-style: normal;
  font-weight: 900;
  src: url("/vendor/fonts/InterDisplay-Black.woff2") format("woff2");
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 1024px;
  }

  .gallery__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 17px;
    row-gap: 20px;

    max-width: 880px;
    width: 581px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
  }

  .header {
    max-width: 320px;
  }

  .header__box {
    margin: 28px auto auto 0px;
    width: 320px;
    height: 56px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0px auto auto 27px;
  }

  .profile {
    flex-direction: column;
    align-items: center;

    max-width: 282px;
    height: 286px;
    margin: 42px auto 0px;
    box-sizing: border-box;
  }

  .profile__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto 0px auto;

    max-width: 282px;
    width: 220px;
  }

  .profile__info-name {
    max-width: 282px;
    margin: 0px;

    font-family: "InterDisplay", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: #fff;
  }

  .profile__info_about {
    max-width: 282px;
    margin: 16px auto 0px auto;

    font-family: "InterDisplay", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 5px;
    text-align: start;
    color: #fff;
  }

  .profile__editButton {
    margin: 0px auto 0px 10px;
    width: 18px;
    height: 18px;
    border: none;
  }

  .profile__editButton-image {
    width: 18px;
    height: 18px;
  }

  .profile__addButton {
    margin: 35px 0px auto;
    width: 282px;
    height: 50px;
  }

  .profile__addButton-image {
    width: 282px;
    height: 50px;
  }

  .gallery {
    margin: 36px auto 0px;
    max-width: 282px;
  }

  .gallery__grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    max-width: 282px;
  }

  .footer {
    max-width: 282px;
  }

  .footer__copyright {
    margin: 50px auto 36px 0px;

    font-size: 14px;
  }

  .popup__container {
    width: 282px;
    height: 322px;
  }

  .popup__close-button {
    top: -40px;
    left: 254px;
    width: 20px;
    height: 20px;
  }

  .popup__close-icon {
    width: 20px;
    height: 20px;
  }

  .popup__container-title {
    max-width: 238px;
    margin: 25px auto auto auto;

    font-size: 18px;
  }

  .popup__form-fieldset {
    margin: 67px auto auto auto;
  }

  .popup__form-fieldset_input {
    width: 238px;
    margin: 0px auto;
  }

  .popup__save-button {
    width: 238px;
    height: 46px;

    margin: 46px 22px 25px 22px;

    font-size: 14px;
  }
}
